################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Employee.test/Employee.test/obj/Employee.test.csproj.nuget.g.props
/Employee.test/.vs/Employee.test/v17
/Employee.test/.vs/ProjectEvaluation
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/zh-Hant
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/tr
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/zh-Hans
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/pt-BR
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/pl
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/ru
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/ko
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/ja
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/it
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/fr
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/es
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/de
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0/cs
/Employee.test/Employee.test.sln
/Employee.test/.vs/Employee.test/FileContentIndex
/.vs/ChallengeAPP/FileContentIndex
/ChallengeApp/ChallengeApp.Test/bin/Release/net7.0
/ChallengeApp/ChallengeApp.Test/bin/Debug/net7.0
/ChallengeApp/ChallengeApp.Test/obj/Debug/net7.0
/.vs/ChallengeAPP/v17
/.vs
/ChallengeApp/.vs/ChallengeApp/FileContentIndex
/ChallengeApp/.vs/ChallengeApp/v17/TestStore/1
/Employee.test/Employee.test/obj/project.nuget.cache
/ChallengeApp/ChallengeApp/obj/Release/net7.0
/ChallengeApp/ChallengeApp/obj/project.nuget.cache
/ChallengeApp/.vs/ChallengeApp/v17
/ChallengeApp/.vs/ChallengeApp/DesignTimeBuild
/ChallengeApp/.vs/ProjectEvaluation
/ChallengeApp/ChallengeApp/bin/Debug/net7.0
/ChallengeApp/ChallengeApp/obj/Debug/net7.0/refint
/ChallengeApp/ChallengeApp/obj/Debug/net7.0/ref
/ChallengeApp/ChallengeApp/obj/Debug/net7.0
/ChallengeApp/ChallengeApp.Test/obj/Release/net7.0
/Employee.test/Employee.test/obj/Debug/net7.0
/Employee.test/Employee.test/obj/Employee.test.csproj.nuget.dgspec.json
/Employee.test/Employee.test/obj/Employee.test.csproj.nuget.g.targets
/Employee.test/Employee.test/obj/project.assets.json
/ChallengeApp/ChallengeApp.Test/obj
/ChallengeApp/ChallengeApp/obj/ChallengeApp.csproj.nuget.dgspec.json
/ChallengeApp/ChallengeApp/obj/ChallengeApp.csproj.nuget.g.props
/ChallengeApp/ChallengeApp/obj/ChallengeApp.csproj.nuget.g.targets
/ChallengeApp/ChallengeApp/obj/project.assets.json
